@import "tailwindcss";


*{
  box-sizing: border-box;
  scrollbar-width: none;
  scroll-behavior: smooth;
  font-family: Rye;
}
.rye-regular {
  font-family: "Rye", serif;
  font-weight: 400;
  font-style: normal;
}
h1,h2{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.default-color{
  color: #798dfe;
}
.secondary-color{
  color: #b579fe;
  
}
.border-secondary{
  border-color: #b579fe ;
}
.inp-padding{
  padding: 2%;
}
.secondary-hover{
  transition: 0.4s ease-in-out; 
}
.secondary-hover:hover{
  color: #b579fe;
  transition: 0.4s ease-in-out;
}
.sc{
  scrollbar-width: thin;
}







